# Backend
backend/venv/
backend/__pycache__/
*.py[cod]
backend/.env
backend/.pytest_cache/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env


# OS Metadata
.DS_Store